<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Book Flight</h6>
            <h1>Book Flight</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 30px;">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="form-row">
                            <div class="control-group col-sm-12">
                                <input type="text" class="form-control p-2" id="name" placeholder="No of Tickets"
                                    required="required" data-validation-required-message="Invalid Number!" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-12">
                                <input type="email" class="form-control p-2" id="email" placeholder="No of Passengers"
                                    required="required" data-validation-required-message="Invalid Number of Passengers!" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group col-sm-12">
                            <input type="text" class="form-control p-2" id="subject" placeholder="Enter Amount"
                                required="required" data-validation-required-message="Invalid Amount!" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group col-sm-12">
                            <input type="text" class="form-control p-2" id="subject" placeholder="Date of payment"
                                required="required" data-validation-required-message="Invalid Date!" />
                            <p class="help-block text-danger"></p>
                        </div>
                        
                        
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->