



<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Aeroplane</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Date of Journey</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Avaliable Seats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        
        <td>{{item.index}}</td>
        <td>{{item.aeroplane}}</td>
        <td>{{item.origin}}</td>
        <td>{{item.destination}}</td>
        <td>{{item.fdate}}</td>
        <td>{{item.departure}}</td>
        <td>{{item.arrival}}</td>
        <td>{{item.avaliableSeats}}</td>
        
      </tr>
     
    </tbody>
  </table>